@font-face {
  font-family: "momstypewriterregular";
  src: url("Moms_typewriter-webfont.eot");
  src: url("Moms_typewriter-webfont.eot?#iefix") format("embedded-opentype"),
    url("Moms_typewriter-webfont.woff2") format("woff2"),
    url("Moms_typewriter-webfont.woff") format("woff"),
    url("Moms_typewriter-webfont.ttf") format("truetype"),
    url("Moms_typewriter-webfont.svg#momstypewriterregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  height: 100%;
  width: 100%;
}
html {
  height: 100%;
  background: radial-gradient(closest-side, #e6eae2, #9fd0e6);
}
nav {
  width: 50px;
  position: absolute;
  z-index: 100;
  left: 1em;
  top: 65px;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;
}
nav ul {
  list-style: none;
  text-align: center;
}
nav li {
  line-height: 4em;
}
nav a {
  grid-template-columns: 1;
  text-align: center;
  width: 50px;
  color: rgb(71, 71, 71);
  opacity: 0;
  transition: opacity 150ms ease-in-out;
}
.link {
  z-index: 100;
  position: fixed;
  bottom: 10%;
  left: 80%;
  height: 40px;
  width: 100px;
  background-color: #e6eae2;
  border: 1px solid rgb(71, 71, 71);
  border-radius: 5px;
  box-shadow: rgb(71, 71, 71);
}
.link p {
  font-family: momstypewriterregular, sans-serif;
  color: rgb(71, 71, 71);
  text-align: center;
  line-height: 40px;
}
.link a {
  text-decoration: none;
}
.link a :hover {
  color: #e6eae2;
  background-color: rgb(71, 71, 71);
  border-radius: 4px;
}

header {
  height: 75px;
  position: fixed;
  z-index: 10000;
  width: 100%;
}

nav a :hover {
  color: #e6eae2;
}

nav a :visited {
  color: rgb(71, 71, 71);
}
.container {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.album {
  z-index: 10000;
  height: 300px;
  width: 300px;
  margin: 10px 10px;
}
.album img {
  height: 100%;
  width: 100%;
  border-radius: 10px;
  border: 3px solid rgb(71, 71, 71);
}
.album a :hover {
  border: 4px solid #e6eae2;
}
.bg {
  z-index: 0;
  position: fixed;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-image: url("../imgs/tranglobeGIF.gif");
  background-size: contain;
  background-position: center;
  height: 1000px;
  width: 100%;
}
.logo {
  z-index: 0;
  position: fixed;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: url("../imgs/FLOWERSundergroundACIDfont.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 1000px;
  width: 100%;
}
.nav-toggle:checked ~ nav {
  transform: scale(1, 1);
}
.nav-toggle:checked ~ nav a {
  opacity: 1;
  transition: opacity 250ms ease-in-out 250ms;
}
.nav-toggle {
  display: none;
}
.nav-toggle-label {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 1.5em;
  height: 100%;
  display: flex;
  align-items: center;
}
.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  display: block;
  align-items: center;
  background: rgb(71, 71, 71);
  height: 4px;
  width: 2em;
  border-radius: 2px;
  position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
  content: "";
}
.nav-toggle-label span::before {
  bottom: 10px;
}
.nav-toggle-label span::after {
  top: 7px;
}

@media screen and (min-width: 1100px) {
  .nav-toggle-label {
    display: none;
  }
  header {
    display: grid;
    grid-template-columns: 1fr auto minmax(600px, 1fr);
  }
  nav {
    all: unset;
    width: 50px;
    position: absolute;
    z-index: 100;
    left: 1em;
    top: 65px;
  }
  nav a {
    opacity: 1;
  }
}

@media screen and (max-width: 1100px) {
  .container {
    display: grid;
  }
  .album {
    margin: 0 auto;
    margin-top: 10px;
    height: 300px;
    width: 300px;
  }
}
@media screen and (max-width: 700px) {
  .album {
    height: 200px;
    width: 200px;
  }
  .link {
    transform: rotate(90deg);
    right: 10px;
  }
}
@media screen and (max-width: 330px) {
  .album {
    height: 180px;
    width: 180px;
  }
}
